body {
    background-color: #F3EBF6;
    font-family: 'Ubuntu', sans-serif;
}

.main {
    background-color: #243344;
    height: 400px;
 
    border-radius: 10px;
    box-shadow: 0px 11px 35px 2px rgb(5, 0, 0);
}

.sign {
    background-color: #e6ff05da;
    padding-top: 20px;
    margin-top: 1cm;
    text-align: center;
    border-radius: 1.5em;
    color: #3c3d03;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    box-shadow:0px 1px 3px 2px rgb(5, 0, 0);
    width: 300px;
    margin-left: 100px;
    font-size: 23px;
  
}

.un {
width: 76%;
color: rgb(6, 8, 0);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgb(167, 189, 134);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(5, 0, 0, 0.87);
margin-bottom: 50px;
margin-left: 60px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}

form.form1 {
    padding-top: 40px;
}

.pass {
        width: 76%;
color: rgb(0, 3, 5);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgb(167, 189, 134);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgb(0, 0, 0);
margin-bottom: 50px;
margin-left: 60px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}


.un:focus, .pass:focus {
    border: 5px solid rgb(0, 0, 0) !important;
    
}

.submit {
  cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #749208, #1c0120a8);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 35%;
    border: 3px solid rgba(5, 0, 0, 0.87);
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    padding-top: 15px;
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    text-decoration: none
}

@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }
}